= simple_form_for evaluation, url: evaluations_path(evaluation, parameters: {event_id: evaluation.event.id, user_id: evaluation.user_id}) do |f|
  = f.input :reading, error: 'Evaluation must be bettwen 1 and 10'
  = f.input :writing, error: 'Evaluation must be bettwen 1 and 10'
  = f.input :listening, error: 'Evaluation must be bettwen 1 and 10'
  = link_to 'Back', events_path
  = f.submit class: "btn btn-success"
