%h1 Your events:
%table.table.table-condensed
  %thead
    %tr
      %th= 'Event'
      -if current_user.has_role? :student
        %th= 'Status'
        %th= 'Result'
  %tbody
    - events.each do |event|
    - evaluation = event.evaluations.where( user_id: current_user ).first
      %tr
        %td= link_to event.name, event
        -if current_user.has_role? :student
          %td= evaluation_status(event)
          %td= evaluation.sum
