= simple_form_for event do |f|
	= f.input :place
	= f.input :start_time, as: :string, input_html: { class: 'datetimepicker' }
	= f.input :user_deadline, as: :string, input_html: { class: 'datetimepicker' }
	= f.input :name
	= f.input :description
	= f.input :slots
	= link_to 'Back', events_path
	= f.submit 'Add Event', class: "btn btn-success"