%h1
  = event.name
%h3
  = event.description
%table
  %tr
    %th= t('Place:')
  %tr
    %td= event.place
  %tr
    %th= t('Date:')
  %tr
    %td= event.start_time
  %tr
    %th= t('Request deadline:')
  %tr
    %td= event.user_deadline
  %tr
    %th= t('Empty slots:')
  %tr
    %td= event.slots
  -if evaluation_for_logged_student_exist?(event)
    %tr
      %th= t('Evaluation for reading:')
    %tr
      %td= evaluation(event).reading
    %tr
      %th= t('Evaluation for writing:')
    %tr
      %td= evaluation(event).writing
    %tr
      %th= t('Evaluation for listening:')
    %tr
      %td= evaluation(event).listening

-if user_signed_in? && current_user != event.user

  -if event.students.include?(current_user)
    = link_to 'Undo Request', requests_path(event: event), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
  -elsif event.slots == 0
    %h3 Sorry, event is full :(
  -else
    = link_to 'Request for Event', requests_path(event: event), class: "btn btn-success", method: :post

- if current_user == event.user

  = link_to 'Edit', edit_event_path(event), class: "btn btn-success"

  %h1 Requests List
  %br

    .row
      .col-md-6
        %h3 Pending requests
        %table.table.table-condensed
          %thead
            %tr
              %th= 'User'
              %th
              %th
          %tbody
            -event.requests.pending.each do |request|
              %tr
                %td= request.user.email
                %td= link_to("Accept", requests_path(request, obj: request,  status: "accepted", event: event), :method => :put, class: 'btn btn-primary')
                %td= link_to("Reject", requests_path(request, obj: request,  status: "rejected", event: event), :method => :put, class: 'btn btn-danger')
      .col-md-3
        %h3 Accepted requests
        %table.table.table-condensed
          %thead
            %tr
              %th= 'User'
              %th
          %tbody
            -event.requests.accepted.each do |request|
              %tr
                %td= request.user.email
                %td= link_to 'Add note', new_evaluation_path(request: request), class: 'btn btn-danger'
      .col-md-3
        %h3 Rejected requests
        %table.table.table-condensed
          %thead
            %tr
              %th= 'User'
          %tbody
            -event.requests.rejected.each do |request|
              %tr
                %td= request.user.email
- unless user_signed_in?
  = link_to 'Log in to join event!', new_user_session_path, class: 'btn btn-success'